In [2]:
ravi = {
    'navn': 'David Ravi',
    'alder': 43,
    'yrke': 'mattelærer',
    'favorittaktivitet': 'gaming',
    'favorittdrikk': 'databrus'
}

print(ravi['yrke'])

print('nøkler')

for nøkkel in ravi:
    print(nøkkel,ravi[nøkkel])

for nøkkel, verdi in ravi.items():
    print(nøkkel, verdi)

mattelærer
nøkler
navn David Ravi
alder 43
yrke mattelærer
favorittaktivitet gaming
favorittdrikk databrus
navn David Ravi
alder 43
yrke mattelærer
favorittaktivitet gaming
favorittdrikk databrus

In [1]:
skuespillere = [
    {"navn": "Tom Hanks", "alder": 66},
    {"navn": "Meryl Streep", "alder": 73},
    {"navn": "Leonardo DiCaprio", "alder": 48},
    {"navn": "Julia Roberts", "alder": 55},
    {"navn": "Denzel Washington", "alder": 67},
    {"navn": "Nicole Kidman", "alder": 55},
    {"navn": "Brad Pitt", "alder": 59},
    {"navn": "Charlize Theron", "alder": 47},
    {"navn": "Johnny Depp", "alder": 59},
    {"navn": "Emma Stone", "alder": 34},
]

favoritt = skuespillere[2]

print(f"{favoritt['navn']}({favoritt['alder']})")

Leonardo DiCaprio(48)

In [3]:
for s in skuespillere:
    print(s['navn'], s['alder'])

Tom Hanks 66
Meryl Streep 73
Leonardo DiCaprio 48
Julia Roberts 55
Denzel Washington 67
Nicole Kidman 55
Brad Pitt 59
Charlize Theron 47
Johnny Depp 59
Emma Stone 34